.container {
    background-color: #efeee7;
    font: Georgia,"Times New Roman",Times,serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    text-align: center;
}

h1 {
    color: #eee;
    font-size: 28px;
}

h2 {
    font-size: 24px;
    margin: 0 auto;

}

#bio-image {
    width: 200px;
    float: left;
}

#main-bio {
    width: 70%;
    float: left;
    
}

#contact-info {
    width: 30%;
    font-size: 24px;
    line-height: 36px;
    float: left;
}

a:link {
    color: #d21034;
}

p {
    float: center;
    word-wrap: break-word;
}